@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  /* color: var(--foreground);
  background: var(--background); */

  background-color: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gradient-bg {
  background: linear-gradient(180deg, #FF5454 0%, #CD4848 100%);
}



li {
  list-style-type: none;
}

a {
  text-decoration: none;

}

.header {
  position: relative;
  /* padding: 0 2rem; */
}


.navbar {
  width: 100%;
  max-width: 1470px;
  padding: 15px 31px 15px 25px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}


.navbar .links {
  display: flex;
  align-items: center;
  gap: 2rem;
}


.navbar .toggle_btn {

  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}


.action_btn {}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;


  max-height: 0;
  width: 300px;

  background-color: #EBFAFF;
  border-radius: 10px;
  overflow: hidden;
  transition: max-height 0.3s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dropdown_menu.open {
  max-height: 540px;
  transition: 0.3s ease;


}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}


.app-btn {
  width: 70px !important;
}


.actives {
  background-color: #4BA9FF;
  padding: 9.5px 17px;
}


.cart {
  display: flex;
}

.custom-navigation {
  display: flex;
  gap: 10px;
  /* расстояние между кнопками */
  justify-content: center;
  margin-top: 20px;
}

/* Стили для кнопок */
.custom-prev,
.custom-next {
  color: white;
  /* background-color: #ff5454; */
  border: none;
  /* border-radius: 50%; */
  border: 1px solid #000;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-prev:hover,
.custom-next:hover {
  background-color: #4BA9FF;
  border: 1px solid#4BA9FF;
}

.mySwiper .swiper-pagination {
  color: #000;
  /* Цвет текста по умолчанию */
  font-size: 18px;
  font-weight: bold;
  /* background-color: rgba(0, 0, 0, 0.05); */
  padding: 5px 10px;
  border-radius: 8px;


  display: flex;
  align-items: center;
}


.mySwiper .swiper-pagination-current {
  color: #4BA9FF;
  font-size: 64px;
  font-weight: 600;

}

.icon {
  color: #000;
}

.custom-prev:hover .icon {
  color: #fff;
}

.custom-next:hover .icon {
  color: #fff;
}

.mySwiper .swiper-pagination-separator {
  margin: 0 5px;
  color: #000;

}

.mySwiper .swiper-pagination {
  justify-content: end;
}

.mySwiper .swiper-pagination-total {
  color: #000;
  font-weight: 400;
  font-size: 36px;
}

.custom-bg {
  color: rgba(67, 66, 66, 0.10);
  ;
}

.active-bg {
  background: #4BA9FF;
  color: #fff;
}

/* .custom-placeholder{
  color: red;
} */



@media(max-width: 1200px) {

  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .cart {
    display: none;
  }

  .dropdown_menu {
    display: block;
  }
}



@media(max-width: 480px) {
  .header {
    position: relative;
    padding: 0 0rem;
  }
}